// header

.headerWrap {
  border-bottom: 1px solid #cbcbcb;
  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    height: 22px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .cs_login {
    position: absolute;
    right: 10px;
    transform: translate(0, -50%);
    top: 50%;
    .item_login {
      @extend %font, %size12;
    }
    img {
      vertical-align: middle;
    }
  }
  .header_scroll {
    height: 72px;
  }
  .gnb {
    display: flex;
    height: 100%;
    align-items: center;

    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 100%;

      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: transparent;

      &.isActive {
        @include boxColor(border-bottom-color, green);

        .menu_name {
          @extend %font, %green;
        }
      }

      .menu_name {
        @extend .buttonFix;

        padding-left: g-vw(1280, 40px);
        padding-right: g-vw(1280, 40px);
        @extend %font, %size16, %w500;
      }
    }
  }
  .bar_login {
    @include bar(11px);
  }
}

@include tablet {
  .headerWrap {
    .header_scroll {
      height: g-vw(767, 52px);
    }
  }
}

@include mobile {
  .headerWrap {
    .inner {
      display: block;
    }
    .header_top {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
    .header_scroll {
      overflow: auto;
      overflow-y: hidden;
      justify-content: center;
      display: flex;
      margin: auto;
      height: 44px;
    }
    .gnb {
      height: auto;
      li {
        flex: none;
        .item_login {
          height: 44px;
        }
      }
    }
    .logo {
      height: 22px;
    }
    .cs_login {
      position: relative;
      left: 0;
      top: 0;
      transform: inherit;
    }

    .logo {
      position: relative;
      left: 0;
      top: 0;
      transform: inherit;
    }
  }
}
