// header

.headerWrap {
  border-bottom: 1px solid #cbcbcb;
  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  height: 25px;
}

.header_scroll {
  height: 72px;
}
.gnb {
  display: flex;
  height: 100%;
  align-items: center;
  li {
  }
  a {
    font-size: 16px;
  }
}

@include tablet {
  .header_scroll {
    height: g-vw(767, 52px);
  }
}

@include mobile {
  .header_scroll {
    height: g-vw(767, 72px);
  }
  .logo {
    height: g-vw(767, 30px);
  }
}
