@use 'sass:map';

.inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

// 아래의 box mixin에서 사용할 color map.
$boxColorMap: (
  gray9: #979797,
  green: #09784e,
);

/**
 * div, button 등 box에 공통 색깔을 쉽게 정의하기 위한 mixin.
 *
 * ex. @include boxColor(background-color, green);
 *
 * opacity를 줄려면...
 *
 * ex. @include boxColor(background-color, green, 0.7);
 */
@mixin boxColor($key, $value, $opacity: 1) {
  #{$key}: rgba(map.get($boxColorMap, $value), $opacity);
}

/**
 * Box에 그림자 효과를 주는 mixin.
 * ex. @include shadowBox;
 */
@mixin boxShadow {
  box-shadow: 2px 2px #f7f7f6;
}

@mixin bar($height) {
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  display: inline-block;
  content: '';
  height: $height;
  background-color: #cbcbcb;
}
