// header

.headerWrap {
  border-bottom: 1px solid #cbcbcb;
  .logo {
    img {
      height: g-vw(1280, 24px);
    }
  }
  .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header_scroll {
  height: g-vw(1280, 72px);
}
.gnb {
  display: flex;
  height: 100%;
  align-items: center;
  li {
  }
  a {
    font-size: 16px;
  }
}

@include tablet {
}

@include mobile {
}
