@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.font {
  &_eng {
    font-family: 'Roboto', sans-serif;
  }

  &.green {
    color: #09784e;
  }

  &.white {
    color: #fff;
  }

  &.dark3 {
    color: #333;
  }

  &.gray9 {
    color: #979797;
  }

  &.size15 {
    font-size: 15px;
  }

  &.size16 {
    font-size: 16px;
  }

  &.size18 {
    font-size: 18px;
  }

  &.size20 {
    font-size: 20px;
  }

  &.size30 {
    font-size: 30px;
  }

}