.font {
  &_eng {
    font-family: "Roboto", sans-serif;
  }
  // color

  &.green {
    color: #02794d;
  }

  &.lightgreen {
    color: #00d989;
  }

  &.white {
    color: #fff;
  }

  &.dark2 {
    color: #222;
  }
  &.dark3 {
    color: #333;
  }

  &.gray9 {
    color: #959595;
  }
  // weight
  &.w300 {
    font-weight: 300;
  }
  &.w400 {
    font-weight: 400;
  }
  &.w500 {
    font-weight: 500;
  }
  &.w600 {
    font-weight: 600;
  }
  &.w700 {
    font-weight: 700;
  }
  &.w900 {
    font-weight: 900;
  }
  &.bold {
    font-weight: bold;
  }

  // size
  &.size12 {
    font-size: 12px;
  }
  &.size13 {
    font-size: 13px;
  }
  &.size14 {
    font-size: 14px;
  }
  &.size15 {
    font-size: 15px;
  }
  &.size16 {
    font-size: 16px;
  }
  &.size17 {
    font-size: 17px;
  }
  &.size18 {
    font-size: 18px;
  }
  &.size20 {
    font-size: 20px;
  }
  &.size22 {
    font-size: 22px;
  }
  &.size30 {
    font-size: 30px;
  }
  &.size48 {
    font-size: 48px;
  }
  &.size50 {
    font-size: 50px;
  }
}
