.editor {
  box-sizing: border-box;

  width: 100%;
  margin-bottom: 50px;
  padding: 23px 30px 30px 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;

  @include boxColor(border-color, dark3);

  .title {
    margin-bottom: 15px;

    @extend .font, .size18, .bold;
  }

  .row {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 10px;
  }

  .separator {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;

    border-top-width: 1px;
    border-top-style: solid;
    @include boxColor(border-top-color, dark2);
  }

  .cell {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:first-child) {
      margin-left: 12px;
    }

    width: 135px;

    &.fill {
      flex: 1;
    }
  }

  .smallInputArea {
    position: relative;

    width: 100%;

    .input {
      box-sizing: border-box;

      width: 100%;
      padding: 9px 16px;

      border-style: solid;
      border-width: 1px;

      text-align: left;

      @include boxColor(border-color, dark3);

      &:read-only {
        cursor: default;
      }
    }

    .icon {
      position: absolute;

      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }

  .largeInputArea {
    position: relative;

    width: 100%;

    .label {
      position: absolute;

      top: 10px;
      left: 12px;

      @extend .font, .size16, .dark4;
    }

    .input {
      box-sizing: border-box;

      width: 100%;
      padding-top: 40px;
      padding-right: 18px;
      padding-bottom: 14px;
      padding-left: 18px;

      border-style: solid;
      border-width: 1px;

      text-align: left;

      @include boxColor(border-color, dark3);

      font-family: inherit;
      @extend .font, .size18, .w500, .dark8;

      &:read-only {
        cursor: default;
      }
    }

    .icon {
      position: absolute;

      top: 50.5px;
      right: 24.5px;
    }
  }

  .textAreaArea {
    width: 100%;

    .textArea {
      box-sizing: border-box;
      resize: vertical;

      // textarea 밑에 마진 생기는 것 방지.
      display: block;

      width: 100%;
      padding: 23px 18px;

      border-style: solid;
      border-width: 1px;

      @include boxColor(border-color, dark3);

      font-family: inherit;
      @extend .font, .size16, .dark8;
    }
  }

  .checkboxArea {
    display: flex;
    flex-direction: row;
    align-items: center;

    @extend .font, .size16, .dark6;

    .hiddenCheckbox {
      display: none;

      &:checked + .checkbox::after {
        content: "\2714";
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        color: inherit;
        font-size: inherit;
      }
    }

    .checkbox {
      display: inline-block;
      position: relative;

      width: 28px;
      height: 28px;
      margin-right: 14px;
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;

      @include boxColor(border-color, dark3);

      color: #000000;
      background-color: #ffffff;
    }
  }

  .addButton {
    width: 100%;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;

    @include boxColor(border-color, green);

    @extend .buttonFix;

    .icon {
      vertical-align: middle;
    }

    .text {
      vertical-align: middle;

      margin-left: 7px;

      @extend .font, .size18, .w500, .green;
    }
  }

  .fileUploader {
    display: flex;
    flex-direction: column;

    width: 100%;

    .resultArea {
      width: 100%;
    }

    .file {
      box-sizing: border-box;

      width: 100%;

      .download {
        box-sizing: border-box;
        display: block;

        width: 100%;
        padding: 10px;

        border-style: solid;
        border-width: 1px;
        @include boxColor(border-color, dark3);
      }

      iframe,
      video,
      img {
        width: 100%;

        @extend .imageFix;
      }

      iframe {
        height: 400px;
      }
    }

    .uploadArea {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 348px;

      border-style: solid;
      border-width: 1px;

      @include boxColor(border-color, dark3);
    }

    .iconArea {
      box-sizing: border-box;

      padding: 22px 20px 19px 22px;
      border-style: dashed;
      border-width: 2px;
      border-radius: 15px;

      @include boxColor(border-color, dark3);
    }

    .message {
      margin-top: 18px;

      @extend .font, .size18, .dark4;
    }

    .uploadButton {
      width: 138px;
      height: 42px;
      margin-top: 30px;
      border-style: solid;
      border-width: 1px;

      @extend .font, .size16, .green;
      @include boxColor(border-color, green);

      @extend .buttonFix;
    }
  }
}
