@use "sass:map";

.inner {
  box-sizing: border-box;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

%imageFix {
  // 이미지 밑에 4px 정도 공간 생기는 거 막음.
  // https://kreiz.tistory.com/entry/div-안의-img에-높이4px공백
  vertical-align: top;
}

%buttonFix {
  // reset.scss의 background: inherit가 IE에서는 의도한대로 안 되어서 배경색이 회색으로 나올 때가 있음.
  background-color: transparent;
}

%fillFlexFix {
  // flex: 1로 flex parent의 남은 공간을 채울 때, IE에서는 이거 써야만 되는 경우가 있음.
  flex: 1 1 auto;
}

// 접근성
.blind {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

// 아래의 box mixin에서 사용할 color map.
$boxColorMap: (
  white: #ffffff,
  dark1: #ffffff,
  dark2: #efeff4,
  dark3: #cfcfcf,
  dark4: #959595,
  dark5: #707070,
  dark6: #333333,
  dark7: #222222,
  dark8: #111111,
  green: #07784e,
  lightgreen: #00d989,
  red: #ff0000,
);

/**
 * div, button 등 box에 공통 색깔을 쉽게 정의하기 위한 mixin.
 *
 * ex. @include boxColor(background-color, green);
 *
 * opacity를 줄려면...
 *
 * ex. @include boxColor(background-color, green, 0.7);
 */
@mixin boxColor($key, $value, $opacity: 1) {
  #{$key}: rgba(map.get($boxColorMap, $value), $opacity);
}

/**
 * Box에 그림자 효과를 주는 mixin.
 * ex. @include shadowBox;
 */
@mixin boxShadow {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/**
 * 가상의 자식을 만듬.
 *
 * ex. 마우스 호버 시에 border의 굵기를 1px -> 2px로 바꾸고자 한다.
 * - Element의 border-width를 그냥 2px로 바꾸면 element가 호버 시마다 움직이는 문제가 있음.
 * - 이 때 element의 border-width를 바꾸는 대신 아래처럼 하면 됨.
 *
 * &:hover {
 *   @include virtualChild {
 *     border: 2px solid #ff00ff;
 *   }
 * }
 */
@mixin virtualChild {
  position: relative;

  &::after {
    // 원래는 ::after로 부모를 꽉 채우면 이게 다른 자식들에게 갈 마우스 이벤트를 다 먹어버리는데, 그걸 방지함.
    pointer-events: none;

    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @content;
  }
}

@mixin bar($height) {
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  display: inline-block;
  content: "";
  height: $height;
  background-color: #cbcbcb;
}

// .abc::v-deep .def 쓰면 .def는 global class로 취급됨.
// (react-scoped-css가 내부적으로 Vue 컴파일러 가져다가 씀 -> Vue scoped css의 문법 작동함)
@mixin sliderFix {
  // 마우스로 슬라이드 내부의 텍스트 선택 안 되는 것 수정.
  ::v-deep .slick-slider {
    user-select: auto;
  }

  // 슬라이드 내부에 버튼 같은 거 있을 때 클릭 안 되는 문제 수정.
  // 현재 슬라이드가 항상 가장 앞쪽에 그려지도록 함.
  ::v-deep .slick-slide.slick-active {
    z-index: 2;
  }
}
