.listSection {
  @extend .inner;

  .table {
    border-collapse: collapse;

    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;

    border-style: solid;
    border-width: 1px;
    @include boxColor(border-color, dark3);

    tbody tr {
      border-top-style: solid;
      border-top-width: 1px;
      @include boxColor(border-top-color, dark3);
    }

    th,
    td {
      text-align: center;

      padding: 20px 30px;

      &.title {
        text-align: left;
      }
    }

    th {
      @extend .font, .dark4, .size14;
    }

    td {
      @extend .font, .dark8, .size16;
    }
  }
}
