.companyCard {
  position: relative;
  text-align: left;

  // min-width 대신 그냥 width를 쓰면 IE 환경 + 좁은 화면에서 너비가 깨짐...
  min-width: 394px;
  margin-bottom: 44px;

  @include boxColor(background-color, white);

  @extend .font, .w500;
  color: #666666;

  &:hover {
    @include virtualChild {
      box-sizing: border-box;

      @include boxColor(border-color, green);
      border-width: 2px;
      border-style: solid;
    }
  }

  @include tablet {
    margin-right: 10px;
  }

  .imageArea {
    position: relative;

    width: 100%;

    @include tablet {
      overflow-y: hidden;

      height: 280px;
    }
  }

  .companyImage {
    width: 100%;

    @extend .imageFix;
  }

  .contentArea {
    cursor: pointer;
    box-sizing: border-box;

    width: 100%;
    padding: 19px 26px 22px 26px;

    @include boxColor(border-color, dark3);
    border-width: 1px;
    border-top-width: 0;
    border-style: solid;

    &:hover {
      @include boxColor(background-color, dark2);
    }
  }

  .likeButtonArea {
    position: absolute;

    bottom: 14px;
    right: 17px;
  }

  .name {
    @extend .font, .dark6, .size18;
  }

  .description {
    @extend .font, .size16;
  }

  .dDays {
    margin-top: 10px;

    @extend .font, .size13;
    color: #bfbfbf;
  }
}

.seekerCard {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  width: 295px;
  height: 425px;
  padding-top: 40px;

  @include boxColor(border-color, dark3);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;

  @extend .font, .size14, .w500;
  color: #666666;

  &:not(:first-child) {
    margin-left: 33px;
  }

  &:hover {
    transform: translateY(-28px);
  }

  .profileArea {
    position: relative;
  }

  .profileImage {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    object-fit: none;

    @include boxShadow;
  }

  .likeButtonArea {
    position: absolute;

    bottom: 0;
    right: 0;
  }

  .nameArea {
    margin-top: 35px;
  }

  .name {
    @extend .font, .size16, .dark6;
  }

  .age {
    margin-left: 8px;
  }

  .jobArea {
    margin-top: 14px;
  }

  .handicapArea {
    margin-top: 2px;

    @extend .font, .normal;
  }

  .suggestButton {
    width: 233px;
    height: 51px;
    margin-top: 37px;

    @include boxColor(border-color, green);
    border-width: 1px;
    border-style: solid;
    background-color: transparent;

    @extend .font, .green, .bold, .size18;

    &:hover {
      @include boxColor(background-color, green);
      @extend .font, .white;
    }
  }
}
