.mainSection {
  position: relative;
  
  width: 100%;
  margin-bottom: 176px;
  
  .descriptionArea_wrap{
    position: relative;
  }
  .descriptionArea {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 0;
    min-width:  g-vw(1280,  960px);
    padding-top:  g-vw(1280,  95px);
    padding-left:  g-vw(1280,  60px);
    padding-right:  g-vw(1280,  60px);
    padding-bottom:  g-vw(1280,  58px);
    transform: translate(0, -50%);
    @include boxColor(background-color, green, 0.7);
    @extend .font, .white;
  }
  
  .title1 {
    box-sizing: border-box;
    display: inline-block;
    // 너비가 부모 너비 아닌 내용물 너비 따라가도록 함.
    align-self: flex-start;
    padding: 6px 14px;
    margin-bottom: 16px;
    @include boxColor(background-color, white);
    @extend .font, .size18, .green, .w500;
  }
  
  .title2 {    
    @extend .font,.size48, .bold;
  }
  
  .description {
    min-height: 225px;
    margin-bottom: 20px;
    @extend .font, .size22;
  }
  
  .link {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    
    border-width: 1px;
    border-style: solid;
    @include boxColor(border-color, white);
    
    color: inherit;
    background-color: transparent;
    
    font-family: inherit;
    @extend .font, .size17;
    
    &:hover {
      @extend .font, .green;
      @include boxColor(background-color, white);
    }
  }
  
  .linksArea {
    position: absolute;
    display: flex;
    flex-direction: row;
    
    top: 100%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .slick-slide {
    max-width: calc(100% - 200px);
    img{
      max-width: calc(100% - 200px);
    }
    .descriptionArea_wrap{
      position: relative;
      left: -0px;
      transition: 0.6s all cubic-bezier(0.65, 0.05, 0.36, 1);
      opacity: 0;
      -webkit-clip-path: inset(0 20% 0 0);
      clip-path: inset(0 20% 0 0);
      animation-name: opacity;
      animation-duration: 1s;
    }
    .descriptionArea{
      transition: 0.6s all cubic-bezier(0.65, 0.05, 0.36, 1);
      right: -50px;
      animation-name: positionRight;
      animation-duration: 1s;
    }
    &.slick-active{
      .descriptionArea_wrap{
        left:0px;
        opacity: 1;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
      .descriptionArea{
        transition: 0.7s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
        right: 0;
      }
    }
  }
  
  
  @include tablet {
    .slick-slide {
      max-width: 100%;
      img{
        max-width: 100%;
      }
    }
    .description {
      min-height: inherit;
      font-size:  g-vw(1280, 22px);
    }
    .title2{
      font-size:  g-vw(1280, 48px);
    }
  }
  
  @include mobile {
    .title2{
      font-size:  24px;
    }
    .descriptionArea {
      position: relative;
      width: calc(100% - 68px);
      left: 68px;right: inherit;
    }
    .description {
      font-size: 14px;
    }
  }

}

@keyframes opacity {
  0% {opacity: 0;
  }
  100% {opacity: 1;
  }
}

@keyframes positionRight {
  0% {right: -50px;
  }
  100% {right: 0;
  }
}

