.mainSection {
  position: relative;

  width: 100%;
  margin-bottom: 176px;

  .descriptionArea_wrap{
    position: relative;
  }
  .descriptionArea {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 0;
    min-width: 960px;
    padding: 95px 60px 58px ;
    transform: translate(0, -50%);
    @include boxColor(background-color, green, 0.7);
    @extend .font, .white;
  }

  .title1 {
    box-sizing: border-box;
    display: inline-block;
    // 너비가 부모 너비 아닌 내용물 너비 따라가도록 함.
    align-self: flex-start;
    padding: 6px 14px;
    margin-bottom: 16px;
    @include boxColor(background-color, white);
    @extend .font, .size18, .green, .w500;
  }

  .title2 {
    margin-bottom: 26px;

    @extend .font, .size48, .bold;
  }

  .description {
    min-height: 225px;
    margin-bottom: 20px;

    @extend .font, .size22;
  }

  .link {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

    border-width: 1px;
    border-style: solid;
    @include boxColor(border-color, white);

    color: inherit;
    background-color: transparent;

    font-family: inherit;
    @extend .font, .size17;

    &:hover {
      @extend .font, .green;
      @include boxColor(background-color, white);
    }
  }

  .linksArea {
    position: absolute;
    display: flex;
    flex-direction: row;

    top: 100%;
    right: 0;
    transform: translateY(-50%);
  }
}
