.titledSection {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;

  &.isDark {
    background-color: #efeff4;
  }

  .sectionTitleArea {
    @extend .inner;

    &.isCenter {
      text-align: center;
    }
  }

  .sectionTitle {
    @extend %font, %green, %size48, %w300;
  }

  .sectionTitleEmphasize {
    font-weight: bold;
  }

  .sectionDescription {
    margin-top: 19px;
    margin-bottom: 48px;

    @extend %font, %dark4, %size18;
  }
}
