.companyCard {
    display: inline-block;
    text-align: left;

    width: 394px;
    margin: 0 0 44px 49px;

    @include boxColor(border-color, gray9);
    @include boxShadow;
    border-width: 1px;
    border-style: solid;

    @extend .font, .dark3;
}

.imageArea {
    position: relative;

    width: 100%;
}

.companyImage {
    width: 100%;
}

.contentArea {
    box-sizing: border-box;

    width: 100%;
    padding: 19px 26px 22px 26px;
}

.likeButtonArea {
    position: absolute;

    bottom: 14px;
    right: 17px;
}

.name {
    @extend .font, .bold;
}

.dDays {
    margin-top: 10px;

    @extend .font, .gray9;
}
