.seekerCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 1rem;
    padding: 1rem;

    @include boxColor(border-color, gray9);
    @include boxShadow;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;

    @extend .font, .dark3;

    &:first-child {
        margin-left: 0;
    }
}

.profileArea {
    position: relative;
}

.profileImageArea {
    overflow: hidden;

    width: 7rem;
    border-radius: 50%;

    @include boxShadow;
}

.likeButtonArea {
    position: absolute;

    bottom: 0.5rem;
    right: 50%;
    transform: translateX(3rem);
}

.nameArea {
    margin-top: 2rem;
}

.name {
    @extend .font, .bold;
}

.age {
    margin-left: 0.5rem;
}

.jobArea {
    margin-top: 1rem;
}

.suggestButton {
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem 1rem;

    @include boxColor(border-color, green);
    border-width: 1px;
    border-style: solid;

    @extend .font, .green, .bold;
}
