.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 100px;
}

.sectionTitle {
  @extend .font, .green, .size48, .w300;
}

.sectionTitleEmphasize {
  font-weight: bold;
}

.sectionDescription {
  text-align: center;

  margin-top: 19px;
  margin-bottom: 48px;

  @extend .font, .gray9;
}
