.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  .pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    // flex: 1;

    @extend .fillFlexFix;
  }

  .pageTitle {
    margin-top: 40px;
    margin-bottom: 26px;

    @extend .inner;
    @extend .font, .size36, .w500, .green;
  }

  .pageColumns {
    display: flex;
    flex-direction: row;

    @extend .inner;
  }

  .pageColumn {
    &:not(:last-child) {
      margin-right: 30px;
    }

    &.shouldFill {
      flex: 1;
    }
  }
}
