.joinSection {
  margin-top: 83px;
  margin-bottom: 83px;

  @extend .inner;

  .content {
    display: flex;
    flex-direction: row;
  }

  .input {
    box-sizing: border-box;

    width: 100%;
    padding: 18px 18.5px;

    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    @include boxColor(border-color, dark3);

    @extend .font, .size16;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &.isWrong {
      @include boxColor(border-color, red);
    }
  }

  .inputMessage {
    margin-top: 8px;

    @extend .font, .size16, .w300, .green;

    &.isWrong {
      @extend .font, .red;
    }
  }

  .backgroundArea {
    position: relative;
  }

  .backgroundImage {
    max-width: 430px;
  }

  .submitButton {
    box-sizing: border-box;

    margin-top: 27px;
    padding: 14px 42px;

    border-style: solid;
    border-width: 1px;
    @include boxColor(border-color, green);

    @extend .buttonFix;

    @extend .font, .green, .w500, .size18;
  }
}

.successIcon {
  margin-bottom: 17px;
}
