.loginSection {
  width: 544px;
  margin-top: 70px;
  margin-bottom: 100px;

  .logoArea {
    text-align: center;

    margin-bottom: 44.2px;
  }

  .logo {
    width: 177px;
  }

  .input {
    box-sizing: border-box;

    width: 100%;
    padding: 18px 18.5px;

    outline: 0;
    border-style: solid;
    border-width: 1px;
    @include boxColor(border-color, dark3);

    @extend .font, .size16;

    &:first-of-type {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-of-type {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:not(:last-of-type) {
      border-bottom-color: transparent;
    }

    &.hasError {
      @include boxColor(border-color, red);
    }
  }

  .inputMessage {
    margin-top: 17px;

    @extend .font, .size16, .w300, .green;

    &.isWrong {
      @extend .font, .red;
    }
  }

  .submitButton {
    box-sizing: border-box;

    width: 100%;
    margin-top: 30px;
    padding: 14px 42px;

    border-style: solid;
    border-width: 1px;
    @include boxColor(border-color, green);

    // Fix for IE.
    background-color: transparent;

    @extend .font, .green, .w500, .size18;
  }
}
