.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 16px;
}

.grid {
  @extend .inner;

  overflow-x: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet {
    white-space: nowrap;
    width: 100%;
  }
}

.column {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.moreButton {
  @extend .inner;

  height: 80px;
  margin-top: 52px;

  @include boxColor(background-color, white);
  @include boxColor(border-color, gray9);
  border-width: 1px;
  border-style: solid;
}
