.grid {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.column {
    vertical-align: top;
    display: inline-flex;
    flex-direction: column;

    &:not(:first-child) {
        margin-left: 49px;
    }
}

.moreButton {
    width: 100%;
    height: 80px;
    margin-top: 52px;

    @include boxColor(border-color, gray9);
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
}
