.mainSection {
  width: 100%;
}

.content {
  position: relative;

  width: 100%;
  margin-bottom: 176px;
}

.slider {
  width: 1397px;
  max-width: 100%;
}

.descriptionArea {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 960px;
  // height: 521px; - height는 자동으로...
  max-width: 100%;
  max-height: 100%;
  padding-top: 95px;
  padding-left: 60px;

  @include boxColor(background-color, green, 0.7);
  @extend .font, .white;
}

.title1 {
  box-sizing: border-box;

  // 너비가 부모 너비 아닌 내용물 너비 따라가도록 함.
  align-self: flex-start;
  padding: 6px 14px;

  @include boxColor(background-color, white);
  @extend .font, .size18, .green, .w500;
}

.title2 {
  margin-bottom: 18px;

  @extend .font, .size48, .bold;
}

.description {
  max-width: 600px;
  margin-bottom: 54px;

  @extend .font, .size22;
}

.moreButton {
  width: 172px;
  height: 49px;
  margin-bottom: 58px;
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;

  color: inherit;
  background-color: transparent;

  @extend .font, .size17;
  @include boxColor(border-color, white);
}

.linksArea {
  position: absolute;
  display: flex;
  flex-direction: row;

  top: 100%;
  right: 0;
  transform: translateY(-50%);
}
