.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 0 16px;
}

.seekerCards {
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;

    width: 100%;
}
