// .abc::v-deep .def 쓰면 .def는 global class로 취급됨.
// (react-scoped-css가 내부적으로 Vue 컴파일러 가져다가 씀 -> Vue scoped css의 문법 작동함)
@mixin sliderFix {
  // 마우스로 슬라이드 내부의 텍스트 선택 안 되는 것 수정.
  ::v-deep .slick-slider {
    user-select: auto;
  }
  
  // 슬라이드 내부에 버튼 같은 거 있을 때 클릭 안 되는 문제 수정.
  // 현재 슬라이드가 항상 가장 앞쪽에 그려지도록 함.
  ::v-deep .slick-slide.slick-active {
    z-index: 2;
  }
}

// 메인비주얼  
.mainVisualSlider {
  @include sliderFix;
  width: 100%;
  img {
    height: auto;
  }
  .slick-dots {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 320px;
    margin-top: 30px;
    li {
      margin: 0;
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
  .pauseButton {
    width: 20px;
    height: 20px;
    margin-left: 6px;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    .pauseIcon {
      display: inline-block;
      width: 3px;
      height: 10px;
      border-radius: 1px;
      background-color: #191919;
      &:not(:first-child) {
        margin-left: 2px;
      }
    }
  }
  .descriptionArea {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 0;
    min-width:  g-vw(1280,  660px);
    padding-top:  g-vw(1280,  95px);
    padding-left:  g-vw(1280,  60px);
    padding-right:  g-vw(1280,  60px);
    padding-bottom:  g-vw(1280,  58px);
    transform: translate(0, -50%);
    @include boxColor(background-color, green, 0.7);
    @extend .font, .white;
  }
  .title1 {
    box-sizing: border-box;
    display: inline-block;
    // 너비가 부모 너비 아닌 내용물 너비 따라가도록 함.
    align-self: flex-start;
    padding: 6px 14px;
    margin-bottom: 16px;
    @include boxColor(background-color, white);
    @extend .font, .size18, .green, .w500;
  }
  .title2 {    
    @extend .font,.size48, .bold;
  }
  .description {
    min-height: 225px;
    margin-bottom: 20px;
    @extend .font, .size22;
  }
  .link {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-width: 1px;
    border-style: solid;
    @include boxColor(border-color, white);
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    @extend .font, .size17;
    &:hover {
      @extend .font, .green;
      @include boxColor(background-color, white);
    }
  }
  .linksArea {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
  }
  .slick-slide {
    .descriptionMain_wrap{
      position: relative;
      left: -0px;
      transition: 0.6s all cubic-bezier(0.65, 0.05, 0.36, 1);
      opacity: 0;
      -webkit-clip-path: inset(0 20% 0 0);
      clip-path: inset(0 20% 0 0);
      animation-name: opacity;
      animation-duration: 1s;
      img{
        width: 70%;
      }
    }
    .descriptionArea{
      transition: 0.6s all cubic-bezier(0.65, 0.05, 0.36, 1);
      right: -50px;
      animation-name: positionRight;
      animation-duration: 1s;
    }
    &.slick-active{
      .descriptionMain_wrap{
        left:0px;
        opacity: 1;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
      }
      .descriptionArea{
        transition: 0.7s all cubic-bezier(0.65, 0.05, 0.36, 1) 0.45s;
        right: 0;
      }
    }
  }
  // Animation
  @keyframes opacity {
    0% {opacity: 0;
    }
    100% {opacity: 1;
    }
  }
  @keyframes positionRight {
    0% {right: -50px;
    }
    100% {right: 0;
    }
  }
  @include tablet {
    
    .slick-slide {
      .descriptionMain_wrap {
        img {
          width: 100%
        }
      }
    }
    .descriptionArea {
    width:  g-vw(767,  460px);
      
    
    }
    .description {
      min-height: inherit;
    }
  }

  @include mobile {
    .descriptionArea {
      position: relative;
      width: calc(100% - 68px);
      left: 68px;right: inherit;
    }
  }
}


// 메인 공지사항
.mainNoticeSlider {
  @include sliderFix;
  
  float: right;
  width: 62%;
  
  
  .descriptionNotice_wrap{position: relative;}
  .box{
    position: absolute;left: 0;top: 0;
    
    z-index: 2;
  }
  .img{
    z-index: 1;
    position: relative;
    
    img{
      width: 100%;
    }
  }
  
}






